@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

:root {
    --white-color: #fff;
    --dark-color: #333;
    --accent-color: #DB3421;
    --second-accent-color: #21DB7A;

    --primary-color: var(--dark-color);
    --background-color: var(--white-color);
    --background-header-color: var(--white-color);
    --header-font: 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --link-color: var(--accent-color);
    --link-hover-color: var(--second-accent-color);
}

.dark-mode {
    --primary-color: var(--white-color);
    --background-color: var(--dark-color);
    --background-header-color: var(--dark-color);
    --link-color: var(--accent-color);
    --link-hover-color: var(--second-accent-color);
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: var(--body-font);
}

header {
    background-color: var(--background-header-color);
    padding: 10px;
    text-align: center;
}

.name {
    font-weight: 100;
}

.lastName {
    font-weight: 500;
}

.positons {
    display: flex;
    flex-direction: row;
}

text.position {
    font-weight: 400;
    font-variant: small-caps;
    color: var(--accent-color)
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}



button {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}



#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 10px;
    z-index: 1000;
}

#navbar button {
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 10px 15px;
    cursor: pointer;
}

#navbar button:hover {
    color: var(--primary-color)
}

#navbar button.langButton {
    background-color: var(--background-color);
    color: var(--accent-color);
}

#navbar button.langButton:hover {
    color: var(--primary-color)
}

#navbar span {
    padding: 10px 15px;
    flex-grow: 2;
}


.hidden {
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.header-image {
    width: 100px;
    /* lub inny wymiar */
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    object-fit: cover;
}

/* Reszta Twoich stylów */

section {
    margin: 20px;
    padding: 15px;
}

.divider {
    display: flex;
    align-items: end;
    font-weight: 500;
    font-variant: small-caps;
}


.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: var(--primary-color);
    margin: 5px;
}

#projects {
    background-color: var(--background-color)
}

#hobby-projects {
    background-color: var(--background-color)
}

section h2 {
    text-align: center;
    color: var(--primary-color);
}

.project-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
}

.project-card {
    flex: 0 0 auto;
    /* Utrzymaj karty w jednym rzędzie i pozwól im być nieelastycznymi */
    width: 250px;
    /* Szerokość karty */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Opcjonalnie, aby pokazać, że karta jest interaktywna */
}

.project-card:hover {
    transform: scale(1.05);
    /* Nieco powiększa kartę */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Dodaje cień dla efektu "podniesienia" karty */
    color: var(--accent-color);
}


.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

a.project-card {
    color: var(--primary-color)
}

.project-card h3,
.project-card p {
    margin: 10px;
}

.project-introduction img {
    max-width: 100%;
    height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #333;
    padding: 5px 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.close-button:hover {
    color: #666;
}

.carousel {
    position: relative;
}

.carousel-slides {
    display: flex;
    overflow: hidden;
}

.carousel-slides video {
    max-width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.carousel-slides img {
    max-width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-indicators {
    text-align: center;
    padding: 10px 0;
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #333;
}